functions-framework==3.*
google-cloud-storage
google-cloud-bigquery
google-cloud-secret-manager
boto3
openai
Flask
flask-cors
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib